<div class="bg-gray-100 rounded-2xl p-4 overflow-hidden cursor-pointer group">
  <!-- Image Container -->
  <div class="w-full aspect-square bg-gray-50 overflow-hidden rounded-lg">
    <img
      [src]="product.image_path"
      [alt]="product.name"
      class="w-full h-full  object-cover hover group-hover:scale-105 transition-transform duration-300"
    />
  </div>

  <div class="mt-2">
    <div class="flex flex-row justify-between items-center">
      <p class="text-xs text-gray-400 uppercase tracking-wider mb-1.5 font-medium">
        {{ product.category }}
      </p>
      <p *ngIf="product.wood_type" class="text-xs text-gray-500 mb-3 flex items-center gap-1">
        <lucide-icon [img]="TreeDeciduous" class="w-3.5 h-3.5"></lucide-icon>
        {{ formattedWoodType }}
      </p>
    </div>
    <h3
      class="text-base font-semibold text-gray-800 mb-2 line-clamp-1 leading-snug group-hover:text-gray-900 transition-colors"
    >
      {{ product.name }}
    </h3>

    <!-- Price & Stock -->
    <div class="flex items-end justify-between">
      <div class="flex items-baseline gap-4">
        <span
          class="text-lg font-bold"
          [class.text-gray-900]="!hasDiscount"
          [class.text-black]="hasDiscount"
        >
          ${{ displayPrice | number : '1.2-2' }}
        </span>
        <span *ngIf="hasDiscount" class="text-sm text-gray-400 line-through">
          ${{ product.price | number : '1.2-2' }}
        </span>
        <span>Buy</span>
      </div>
    </div>
  </div>
</div>
